.container {
    margin-top: 100px;
    background-color: rgba(164, 219, 235, 0.322);
    max-width: 1320px;
    height: 450px;
}
.logoimg{
    height: 180px;
    width: 220px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.text-uppercase{
    color: rgba(27, 165, 9, 0.918);
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerlogo{
    height: 30px;
    width: 30px;
}
@media screen and (max-width: 991px) {
    .footerlogo{
        height: 15px;
        width: 15px;
    }
    .container {
        margin-top: 50px;
        background-color: rgba(176, 226, 195, 0.322);
        max-width: 370px;
        height: 1200px;
    }
}