nav{
  background-color: rgba(40, 236, 144, 0.664);

}
.navbar-img{
  width: 100px;
  height: 90px;
  margin-left: 10px;
  margin-right: 20px;
}
.nav-link{
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-select{
  width: 200px;
  height: 45px;
}

.login-img{
  margin-left: 40px;
  margin-right: 20px;
  height: 55px;
  width: 55px;
}