nav{
  background-color: rgba(147, 240, 189, 0.452);
}
.navbar-img{
  width: 150px;
  height: 100px;
  margin-left: 10px;
  margin-right: 20px;
}
.nav-link{
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
