nav{
  background-color: rgba(113, 235, 184, 0.712);
}
.navbar-img{
  width: 150px;
  height: 100px;
  margin-left: 10px;
  margin-right: 20px;
}
.nav-link{
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
