.container8{
    height: 560px;
    width: 560px;
    border-radius: 20px;
    margin-left: 380px;
    margin-top: 100px;
    background-color: rgba(112, 160, 206, 0.24);
}
.form-control{
    height: 50px;
    width: 350px;
    margin-left: 80px;
}
.email-heading{
    margin-left: 80px;
    font-size: 20px;
}
.font-login{
    margin-left: 80px;
    font-size: 35px;
    color: #161616ee;

}
.btn5{
    color: black;
  background-color: rgba(240, 255, 255, 0.027);
  border-radius: 50%;
  margin-left: 480px;
  margin-top: 20px;
  border:solid;
  border-color: rgba(88, 86, 86, 0.473);
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
  width: 50px;
}
.btn9{
    background-color:  rgba(71, 189, 20, 0.778);
    margin-left: 90px;
    border-radius: 15px;
    height: 50px;
    width: 100px;
    border-color: rgba(99, 98, 97, 0.382);}