
.Weather-card{
    display: grid;
    grid-template-columns: auto auto;
    width: 1100px;
    height: 350px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    text-align: left;
}
.search{
    position: relative;
    width: 500px;
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
} 
    .btn{
          background-color: aliceblue;
          border-radius: 50%;
          width: 55px;
          height: 55px;
    }
    .btn:hover{
        border:solid;
        border-color:#5b548a;
        background-color: aliceblue;
        border-radius: 50%;
        width: 55px;
        height: 55px;
  }

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: rgb(32, 31, 31);
    padding-left: 20px ;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search input:hover{

    border:solid;
    border-color:#5b548a;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding-left: 20px ;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-left: 100px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-left: 90px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    margin-left: 100px;
}
.humidity{
    font-size: 25px;
    font-weight: 400;
    color: #ebfffc;
    margin-top: 10px;
    
    
}
.wind{
    font-size: 25px;
    font-weight: 400;
    color: #ebfffc;
    margin-top: 10px;
    
    
}
.details{
    display: flex;
    position:absolute;
    column-gap: 150px;
    margin-left: 450px;
    padding: 0 20px;
    margin-top: 170px;
    
}


.cols img{
    width: 80px;
    margin-left: 30px;
}