.d-block{
    height: 500px;
}
  
  @media screen and (max-width: 991px) {
  
      .banner{
          width: 370px;
          height: 150px;
          position: relative;
        }
        
        .banner-img{
            width: 370px;
            height: 150px;
            border-radius: 50px 0px 50px 0px;
        }
        
        .banner-text{
        position: absolute;
        top: 25px;
        margin-left: 20px;
        }
        .banner-text-h1{
            color: rgba(171, 201, 167, 0.904);
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 5px;
        }
        .banner-text-h3{
            color:rgba(250, 154, 29, 0.856);
            font-size: 12px;
            font-family: cursive;
            
        }
      
      }