.banner2{
    width: 1100px;
    height: 320px;
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
    background: -webkit-linear-gradient(90deg, #00bce5,#93fc71,#a4e345);   
}

.banner2-text{
    position: absolute;
    top: 50px;
    margin-left: 30px;

}
.banner2-text-h1{
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: rgba(43, 49, 49, 0.863);
     margin-left: 20px;
}
.banner2-text-input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
    border: #93fc71;
}
.banner2-button{
    background-color: rgb(250, 154, 29) ;
    color: rgb(247, 248, 248);
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border-color:rgb(250, 154, 29);
    margin-left: 10px;
    width: 130px;
    position: absolute;
    margin-top: 200px;
    margin-left: 70px;
    
    
}

.banner2-logo{
      position: absolute;
      margin-left: 600px;
      height: 400px;
      width: 450px;
    
}
.banner2-img{
    width: 450px;
    height: 400px;
}

@media screen and (max-width: 991px) {

    .banner2{
        width: 370px;
        height: 150px;
        margin-top: 50px;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        background: -webkit-linear-gradient(90deg, #00bce5,#93fc71,#a4e345); 
    }
    .banner2-text{
        position: absolute;
        top: 30px;
        margin-left: 5px;
    
    }
    .banner2-text-h1{
         font-size: 12px;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         color: rgba(43, 49, 49, 0.863);
         margin-left: 5px;
    }
    .banner2-text-input{
        width: 120px;
        height: 25px;
        border-radius: 5px;
        margin-left: 15px;
         border: #93fc71;
    }
    .banner2-button{
        background-color: rgb(250, 154, 29) ;
        color: rgb(247, 248, 248);
        padding: 5px;
        font-size: 5px;
        border-radius: 5px;
        border-color:rgb(250, 154, 29);
        margin-left: 5px;
        width: 60px;
        position: absolute;
        margin-top: 110px;
        margin-left: 35px;
        
        
    }
    
    .banner2-logo{
          position: absolute;
          margin-left: 160px;
          height: 120px;
          width: 170px;
          margin-bottom: 15px;
    }
    .banner2-img{
        width: 250px;
        height: 200px;
    }
}    